$linear-gradient: linear-gradient(to right, #1488cc, #2b32b2);

.simple-choice-card {
  // border: 1px solid #bbb;
  display: flex;
  width: 450px;
  margin: 20px 10px;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px #aaa;
  overflow: hidden;

  .heading {
    padding: 10px 0;
    // border-bottom: 1px solid #aaa;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-image: $linear-gradient;
    text-transform: uppercase;
    font-weight: 300 !important;
    letter-spacing: 0.1em;
    border: 0;

    input{
      &:focus{
        outline: none !important;
      }
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }

  .body {
    padding: 10px 10px;
    text-align: center;

    .sub-heading {
      padding: 20px 10px;
      font-size: 15px;
    }

    .footer {
      padding: 10px 10px;
    }

    button.custom {
      transition: all 0.3s, color 0s;
      text-transform: uppercase;
      // font-weight: 300 !important;
      letter-spacing: 0.1em;
      &:hover {
        background: $linear-gradient;
        // font-weight: 300 !important;
        // letter-spacing: 0.2em;
        color: #fff !important;
      }
    }
  }
}

.custom-title {
  display: inline-block !important;
  margin: 3vh 0 !important;
  margin-left: 50% !important;
  background: linear-gradient(to left, #6a3093, #a044ff);
  color: #fff !important;
  font-weight: 300 !important;
  padding: 10px 20px;
  border-radius: 5px;
  transform: translate(-50%);
  letter-spacing: 0.1em;
  text-transform: uppercase !important;
}

.space-evenly {
  display: flex;
  padding: 3vh 0;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
