.category-values {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  // justify-content: space-between;
  div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ant-input-group-wrapper {
    background: #fff;
  }

  .ant-btn {
    // margin: 0 -11px;
    padding: 0 11px !important;
    border-radius: 0;
  }

  .ant-input-group-addon {
    background-color: #fff;
    border: 0px;
    width: auto;
    cursor: pointer;

    &:nth-child(1) {
      padding: 0 !important;
    }
  }

  .ant-icon {
    cursor: pointer;
  }

  .ant-input {
    border-radius: 0;
  }

  .ant-input-group {
    display: inline-flex;
    width: 100%;
  }

  .ant-input-group-wrapper {
    margin: 8px 0;
    width: 100%;
  }

  .value.ant-input,
  .ant-input-group-wrapper,
  .ant-input-disabled,
  .ant-input[disabled] {
    background: #fafafa !important;
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
  }
}

.title-icon {
  transform: scale(0.9);
  border-radius: 50%;
  background-color: #fff !important;
  transition: all 0.3s;
  cursor: pointer;
  padding: 15px;

  &:hover {
    transform: scale(0.7);
    background-color: #ffecec !important;
  }
}

.generic-field-value-wrapper {
  display: flex !important;
  width: 100% !important;
  align-items: center !important;
  flex-wrap: nowrap !important;
}

.subcategory-indent-icon {
  // transform: rotateY(180deg) translateY(-6px) !important;
  opacity: 0.4;
  font-size: 24px;
  padding-right: 4px !important;
}

.add-on-before {
  height: 100%;
  margin: 0;
  display: flex;
  padding: 0 11px;
  align-items: center;
  background: #f3f3f3;
  border: 1px solid #ddd;
}

.category-wrapper {
  // margin-top: 3%;
  width: 100%;
  min-height: 100%;
  position: absolute;

  .ant-tabs {
    padding: 5vh 0;
  }
}

.menu-item-page {
  min-height: 100%;
  width: 100%;
  padding: 2vh 0 10vh 0;
}

.ant-tabs-tab-active {
  font-weight: 400 !important;
}

.add-root-category {
  padding: 5vh 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bread-crumb {
  // background: linear-gradient(to left, #6a3093, #a044ff);
  border-radius: 5px;
  // border: 1px solid #bbb;
  box-sizing: border-box;
  padding: 10px 0px;
  margin-top: 3vh;
  display: inline-block;
  // text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  // color: #000;

  span {
    margin: 0px;
    font-size: 20px;
    // opacity: 0.7;
    margin: 0 10px;

    &:nth-last-child(1) {
      display: none;
    }

    &:nth-last-child(2) {
      background: linear-gradient(to left, #6a3093, #a044ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
      font-weight: 400;
      pointer-events: none;
    }
  }

  .route {
    margin: 0;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: #1890ff;
      opacity: 1;
    }
  }
}

.hide-menu-btn{
  color: #1890ff !important;
  &:hover{
    color: #4aa8ff;
  }
}

.top-right-absolute{
  position: absolute !important;
  top: 0px !important;
  z-index: 10;
  left: 4px !important;
}